### REPO SETUP ###

# dictionary (keys are repo names, values are base URLs)
instack_host_repos_baseurls:

# bash snippet
instack_host_repos_cmd: |
  yum install -y http://dl.fedoraproject.org/pub/epel/7/x86_64/e/epel-release-7-5.noarch.rpm
  yum install -y https://rdoproject.org/repos/openstack-kilo/rdo-release-kilo.rpm
  curl -o /etc/yum.repos.d/rdo-management-trunk.repo http://trunk-mgt.rdoproject.org/centos-kilo/current-passed-ci/delorean-rdo-management.repo
  # curl -o /etc/yum.repos.d/rdo-management-trunk.repo http://trunk-mgt.rdoproject.org/centos-kilo/current/delorean-rdo-management.repo

# dictionary (keys are repo names, values are base URLs)
instack_uc_repos_baseurls:

# bash snippet
instack_uc_repos_cmd: |
  yum install -y http://dl.fedoraproject.org/pub/epel/7/x86_64/e/epel-release-7-5.noarch.rpm
  yum install -y https://rdoproject.org/repos/openstack-kilo/rdo-release-kilo.rpm
  curl -o /etc/yum.repos.d/rdo-management-trunk.repo http://trunk-mgt.rdoproject.org/centos-kilo/current-passed-ci/delorean-rdo-management.repo
  # curl -o /etc/yum.repos.d/rdo-management-trunk.repo http://trunk-mgt.rdoproject.org/centos-kilo/current/delorean-rdo-management.repo


### TOOLS SETUP ###

tools_packages:
  - screen
  - tmux
  - vim


### HOST SETUP ###

# if set to an existing pool (e.g. 'default')
# then the pool location will not move
instack_host_libvirt_storage_pool: instack
instack_host_libvirt_storage_path: /home/vms-instack

instack_host_install_instack_undercloud_rpm: yes

instack_virt_setup_cmd: |
  export NODE_DIST=centos7
  export NODE_COUNT=5

  instack-virt-setup

instack_host_uc_http_port: 80
instack_host_uc_ssh_port: 2200


### UNDERCLOUD SETUP ###

instack_uc_install_instack_undercloud_rpm: yes

instack_install_undercloud_cmd: |
  sudo yum install -y python-rdomanager-oscplugin
  export FACTER_fqdn=$(hostname -f)
  cp /usr/share/instack-undercloud/undercloud.conf.sample ~/undercloud.conf

  openstack undercloud install


### IMAGES SETUP ###

# Valid values are 'none', 'prebuilt', 'build'
overcloud_images_source: build

# The path is relative to the playbooks directory. Absolute path works too.
overcloud_images_prebuilt_dir: ../overcloud-images

overcloud_images_build_cmd: |
  export NODE_DIST=centos7

  instack-build-images


### OVERCLOUD PREPARATION ###

instack_prepare_for_overcloud_cmd: |
  source ./stackrc

  instack-prepare-for-overcloud


### STOPPING POINTS ###

# if you want to terminate the run early at a specified point, set the
# stopping_point to one of these values:
#   after_instack_libvirt_storage
#   before_instack_virt_setup
#   after_instack_virt_setup
#   after_undercloud_forwarding
#   before_instack_install_undercloud
#   before_instack_build_images
#   before_instack_prepare_for_overcloud
stopping_point:
