### REPO SETUP ###

instack_host_repos_program_rpm:
instack_host_repos_program_cmd:

instack_uc_repos_program_rpm:
instack_uc_repos_program_cmd:


### TOOLS SETUP ###

tools_packages:
  - screen
  - tmux
  - vim


### HOST SETUP ###

# if set to an existing pool (e.g. 'default')
# then the pool location will not move
instack_host_libvirt_storage_pool: instack
instack_host_libvirt_storage_path: /home/vms_instack

instack_host_node_dist: fedora
# instack_host_node_dist: rhel7
# instack_host_dib_yum_repo: /etc/yum.repos.d/my-openstack-repo.repo
# instack_host_dib_cloud_images: http://my-images
# instack_host_dib_base_image: my-os-image.x86_64.qcow2

instack_host_env_extra:

instack_host_uc_http_port: 80
instack_host_uc_ssh_port: 2200


### IMAGES SETUP ###

# The path is relative to the playbooks directory. Absolute path works too.
prebuilt_overcloud_images_dir: ../overcloud-images


### UNDERCLOUD SETUP ###

# these key names translate directly to variable names in instack.answers,
# which means keeping them uppercase is important
instack_answers:
  DEPLOYMENT_MODE: scale


### STOPPING POINTS ###

# valid values are yes or no
stop_before_instack_virt_setup: no
stop_before_instack_install_undercloud: no
